<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
</head>
<body>
    <header> 
        <img src="/public/images/logo-mercado-liebre.svg" alt="logo">
        <h2>barra de busqueda</h2>
        <ul>
            <nav>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </nav>
        </ul>
        <ul>
            <nav>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>
            </nav>
        </ul>
    </header>
    <main>
        <section>
        <article>
        <li> Basado en tu última vista</li>
        <img src="/public/images/img-cafetera-moulinex.jpg" alt="cafetera">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>
        </article>
        <article>
            <img src="/public/images/img-macbook-pro-2019.jpg" alt="MacBook">
            <p>$230.000</p>
            <p>20% off</p>
            <p>MacBook Pro 2019</p>
        </article>
        <article>
            <img src="/public/images/img-samsung-galaxy-s10.jpg" alt="telefono">
            <p>$70.500</p>
            <p>10% of</p>
            <p>Samsung Galaxy S10</p>
        </article>
        <article>
            <img src="/public/images/img-tv-samsung-smart.jpg" alt="televisor">
            <p>$23.200</p>
            <p>5% of</p>
            <p>SmartTv Samsung 43</p>
        </article>
        </section>
        <section>
        <li>Sección de ofertas</li>
        <img src="/public/images/img-cafetera-moulinex.jpg" alt="cafetera">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>
        </article>
        <article>
            <img src="/public/images/img-macbook-pro-2019.jpg" alt="MacBook">
            <p>$230.000</p>
            <p>20% off</p>
            <p>MacBook Pro 2019</p>
        </article>
        <article>
            <img src="/public/images/img-samsung-galaxy-s10.jpg" alt="telefono">
            <p>$70.500</p>
            <p>10% of</p>
            <p>Samsung Galaxy S10</p>
        </article>
        <article>
            <img src="/public/images/img-tv-samsung-smart.jpg" alt="televisor">
            <p>$23.200</p>
            <p>5% of</p>
            <p>SmartTv Samsung 43</p>
        </article>
        </section>
    </main>
    <footer>
           <strong>Pagá con tarjeta o en efectivo</strong>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
            <strong> Envío gratis desde $ 2.500</strong>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
            <p> <strong> Seguridad de principio a fin</strong></p>
            <P>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@
            </P>
            <P><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></P>
    </footer>
</body>
</html>