.home-footer section {
    text-align: center;
    margin: 10px;
}
.home-footer section i {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--celeste);
}
.home-footer section h3 {
    color: var(--grisOscuro);
    margin: 0px;
}
.home-footer section p {
    color: var(--grisOscuro);
    font-size: var(--descripciones);
    margin: 0px;
}
.home-footer section.copyright {
    text-align: justify;
    margin-left: 10px;
}
.home-footer section.copyright h3 {
    font-size: var(--cuerpoTexto);
    margin-top: 40px;
    text-align: center;
}
@media (min-width: 769px) {
    .footer-flex{
        display: flex;
    }
    .home-footer section i:hover {
        color: rgb(0, 255, 47);
        transition: 1s;
    }
}