.main {
    width: 90%;
    background-color: var(--grisClaro);
    margin: 0 auto;
}

.main .titulo-primero {
    text-align: left;
    margin-left: 14px;
    color: var(--grisOscuro);
    margin-bottom: 10px;
}

.main .titulo-segundo {
    text-align: left;
    margin-left: 14px;
    color: var(--grisOscuro);
    margin-bottom: 10px;
}

.main .seccion .articulo .precio-descuento {
    display: grid;
    grid-template-columns: 30% 70%;

}

.main .seccion .articulo {
}

.main .seccion .articulo .envio {
    display: flex;
    justify-content: flex-end;
    /* Alinea el ícono al final del contenedor */
    width: 100%;

}

.articulo img {
    width: 100%;
    height: auto;
    border-bottom: solid 1px var(--grisClaro);
}

.articulo {
    background-color: var(--blanco);
    border-top: solid 1px var(--gris);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin: 10px;
    border: solid 1px var(--gris);
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.articulo .fa-truck {

    padding: 5px;

    color: var(--verde);

    border: solid 1px var(--verde);

    font-size: 16px;

    border-radius: 50%;
}

.articulo .precio {

}

.articulo .descuento {
    font-size: 14px;
    color: var(--verde);
    width: 100%;
}

.articulo .div-h5 {

    margin-bottom: 0px;
    font-weight: normal;
    color: var(--grisOscuro);
}

.seccion .h4 {
    margin: 20px 0;

}

.seccion h4 {

}
.envio i {
    
    transition: transform 0.5s ease;
  }
  
  .envio i:hover {
    
    transform: rotate(-90deg);
  }
@media (min-width: 426px){
    .main {
       
    }
    
    .main .titulo-primero {
       
    }
    
    .main .titulo-segundo {
      
    }
    
    .main .seccion .articulo .precio-descuento {
       
    }
    
    .main .seccion .articulo {
    
    }
    
    .main .seccion .articulo .envio {
        
    
    }
    
    .articulo img {
       
    }
    
    .articulo {display: inline-block;
        width: 46% ;
        
    }
    
    .articulo .fa-truck {
    
        
    }
    
    .articulo .precio {
    
    }
    
    .articulo .descuento {
        
    }
    
    .articulo .div-h5 {
    
        
    }
    
    .seccion .h4 {
        
    
    }
    
    .seccion h4 {
    
    }

}

@media (min-width: 769px){
    .main { 
        
    }
    
    
    
    .main .titulo-primero {
       
    }
    
    .main .titulo-segundo {
      
    }
    
    .main .seccion .articulo .precio-descuento {
       
    }
    
    .main .seccion .articulo {
    
    }
    
    .main .seccion .articulo .envio {
        
    
    }
    
    .articulo img {
       
    }
    
    .articulo {display: inline-block;
        width: 20% ;
    }
    
    .articulo .fa-truck {
    
        
    }
    
    .articulo .precio {
    
    }
    
    .articulo .descuento {
        
    }
    
    .articulo .div-h5 {
    
        
    }
    
    .seccion .h4 {
        
    
    }

    
}

